[[plugins]]
repo = 'vim-denops/denops.vim'
hook_add = '''
    "let g:denops_disable_version_check = 1
'''
#rtp = '$HOME/.cargo/bin/deno'

[[plugins]]
repo = 'prabirshrestha/vim-lsp'
hook_add = '''
    function s:client_capabilities(server_info) abort
        let l:client_capabilities = lsp#default_get_supported_capabilities('a:server_info')
        let l:client_capabilities['textDocument']['completion']['completionItem']['snippetSupport'] = v:true
        return l:client_capabilities
    endfunction

    let g:lsp_get_supported_capabilities = [function('s:client_capabilities')]

    "let g:lsp_hover_echo_empty_message = 0

    "augroup AutoLspHover
    "    autocmd!
    "    autocmd CursorHold * LspHover
    "augroup END
'''

[[plugins]]
repo = 'mattn/vim-lsp-settings'
hook_add = '''
    let g:lsp_settings_servers_dir         = '~/.local/share/vim-lsp-settings/servers'
    let g:lsp_settings_global_settings_dir = '~/.vim/config/vim-lsp-settings'
'''

[[plugins]]
repo = 'hrsh7th/vim-vsnip'

[[plugins]]
repo = "vim-skk/skkeleton"
hook_add = '''
function s:skkeleton_init() abort
    call skkeleton#config({
    \   'globalDictionaries': ['/usr/share/skk/SKK-JISYO.L']
    \})

    call skkeleton#register_kanatable('rom',{
    \   ',': ['，'],
    \   '.': ['．']
    \})
    set statusline+=%=[%{skkeleton#mode()}]
endfunction

augroup skkeleton_init
    autocmd!
    autocmd User skkeleton-initialize-pre call s:skkeleton_init()
augroup END
'''


[[plugins]]
repo = "kat0h/vim-auto-color-switcher"
hook_post_update = """
    let g:dein#plugin.build = 'make'
"""

[[plugins]]
repo = 'lifepillar/vim-solarized8'

[[plugins]]
repo = 'github/copilot.vim'
hook_add = '''
    let g:copilot_no_tab_map = v:true
'''

[[plugins]]
repo = 'thinca/vim-themis'
rtp = '/Users/nami/.cache/dein/repos/github.com/thinca/vim-themis/bin/'
